@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.cdnfonts.com/css/public-pixel');

body {
    color: white;
    background-color: rgb(32, 32, 32);
    background-image: url(../Dirt_background_BE1.png);
    width: 100%;
    overflow-x: hidden;
    overflow-y: shown;
}

nav {
    background-color: #8b8b8b;
    border: 5px solid black;
    font-family: sans-serif;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    padding: 20px 20px; 
}



.title {
    text-align: center;
    font-family: sans-serif;
}

.title h1 {
    font-size: 48px;
    color: yellow;
    font-family: 'Public Pixel', sans-serif;
}

.title h2 {
    font-size: 24px;
    color: white;
}

.Episodes {
    font-size: 24px;
    font-family: sans-serif;
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
}

.Episodes img {
    width: 960px;
    height: 540px;
}
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: gray;
}

::-webkit-scrollbar-thumb {
    background: white;
}

footer h1 {
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 52px;
    margin-right: auto;
    margin-left: auto;
}

footer a {
    font-family: sans-serif;
    text-decoration: none;
    color: lime;
}

footer a:hover {
    color: green;
}

#episodetitles {
    background-color: white;
    font-size: 32px;
    font-family: sans-serif;
    border: 1px solid black;
    color: black;
}

#episodetitles td:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#episodetitles th {
    margin-top: auto;
    margin-bottom: auto;
}

th {
    padding: 0;
}