@import url('https://fonts.cdnfonts.com/css/minecraft-4');
body {
    background-image: url("../img/Creative_background.png");
    background-color: rgb(32, 32, 32);
    background-repeat: no-repeat;
    margin: 0;
    overflow-y: scroll;
}

.container p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}

li a {
    color: black;
}

.container-innards {
    border: 3px solid black;
    background-color: rgb(19, 2, 173);
    width: 825px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.container {
    padding-bottom: 250px;
}

#title {

    text-align: center;
    font-family: 'Minecraft', sans-serif;
    padding-bottom: 25px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: black;
}

button {
    font-family: 'Minecraft', sans-serif;
    padding-bottom: 10px;
}

h1 {
    font-family: 'Minecraft', sans-serif;
    font-size: 48px;
    color: yellow;
}

h2 {
    color: white;
    font-family: 'Minecraft', sans-serif;
}

p {
    color: white;
    font-family: arial;
}

li a {
    font-family: Arial;
    text-decoration: none;
    color: black;
}

.tips-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media(min-width: 825px) {
    .selector-nav {
        display: flex;
    }

    button {
        font-size: 20px; 
        background-color: purple;
        color: white;
        border: 3px solid black;
        border-radius: 50px;
    }

    button:hover {
        cursor: pointer;
    }

    li a {
        float: left;
        display: inline;
        padding: 24px 26px;
        text-decoration: none;
        font-size: 24px;
    }

    .selector h2 {
        font-family: 'Minecraft', sans-serif;
        font-size: 32px;
        text-align: center;
    }

    .selector {
        border-radius: 25px;
        border: 1px solid white;
        padding-top: -200px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
    }

    p {
        font-size: 24px;
    }

#tips {

    border: 3px solid black;
    border-radius: 25px;
    background-color: rgb(36, 0, 165);
    width: 830px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

#tips h2 {
    text-align: center;
    font-size: 48px;
}

#tips p {
    text-align: center;
}

}

footer {
    background-image: url("../img/Creative_background_2.png");

}