@import url('https://fonts.cdnfonts.com/css/minecraft-4');
body {
    background-image: url("../img/Event_background.png");
    background-color: rgb(32, 32, 32);
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    width: 100%;
}

.container p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}

.container {
    border: 3px solid black;
    background-color: rgb(19, 2, 173);
    width: 825px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
}

#tips {
    border: 3px solid black;
    border-radius: 25px;
    background-color: rgb(36, 0, 165);
    width: 830px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

#opentext {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
}

#closetext {
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
}

#tips h2 {
    text-align: center;
}

#tips p {
    text-align: center;
}

#title {

    text-align: center;
    font-family: 'Minecraft', sans-serif;
    padding-bottom: 25px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: black;
}

button {
    font-family: 'Minecraft', sans-serif;
    padding-bottom: 10px;
}

h1 {
    font-family: 'Minecraft', sans-serif;
    font-size: 48px;
    color: yellow
}

h2 {
    font-size: 32px;
    color: white;
    font-family: 'Minecraft', sans-serif;
}

p {
    color: white;
    font-family: arial;
}

@media (min-width: 825px) {
    #footer {
        background-image: url("../img/Event_background2.png");
        height: 100%;
        background-repeat: no-repeat;
    }

    button {
        font-size: 20px; 
        background-color: purple;
        color: white;
        border: 3px solid black;
        border-radius: 50px;
    }

    button:hover {
        cursor: pointer;
    }

   .a1 {
    padding-top: 20px;
    padding-bottom: 0;
   }

    .a2 {
        padding-top: 0px;
        padding-bottom: 20 px;
    }

    .container p {
        font-size: 24px;
        width: 825px;
        margin-right: auto;
        margin-left: auto;
        font-family: Arial;
        padding-top: 100px;
        padding-bottom: 20px;
    }

    .container {
        padding-bottom: 50px;
    }

    p {
        font-size: 24px;
        width: 825px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 40px;
    }

    #tips h1 {
        text-align: center;
    }

    .selector-nav {
        display: flex;
    }

    .selector-nav li{
        float: left;
        display: inline;
        padding: 24px 26px;
        text-decoration: none;
        font-size: 24px;
        color: white;

    
    }

    li a{
        font-family: Arial;
        color: black;
        text-decoration: none;
    }

    #selector h2 {
        font-family: 'Minecraft', sans-serif;
        font-size: 32px;
        text-align: center;
    }

    #selector {
        border-radius: 25px;
        border: 1px solid white;
        padding-top: -200px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
    }
}
