body {
    background-color: rgb(32, 32, 32);
}

.container {
    font-family: Arial;
    text-align: center;
}

#title {
    color: white;
}

.container p {
    font-size: 24px;
    color: white;
}

.container h1 {
    font-size: 42px;
    color: white;
}

.container ul {
    list-style-type: none;
    font-size: 32px;
    font-family: Arial;
}

@media (min-width: 825px) {
    h1 {
        font-size: 48px;
        font-family: Arial;
        text-align: center;
    }

    h2 {
        font-size: 38px;
        font-family: Arial;
        text-align: center;
    }

    #a1 {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: lime;
        width: 100px;
        margin-right: auto;
        margin-left: auto;
        font-weight: bold;
    }

    #a2 {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: yellow;
        width: 100px;
        margin-right: auto;
        margin-left: auto;
        font-weight: bold;
    }

    #a3 {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: red;
        width: 100px;
        margin-right: auto;
        margin-left: auto;
        font-weight: bold;
    }
}

#b1 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lime;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    display: none;
}

#b2 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: yellow;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    display: none;
}

#b3 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: red;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    display: none;
}