@import url('https://fonts.cdnfonts.com/css/minecraft-4');

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(spruce\ log.png);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    animation: fadeInAnimation ease 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    max-width: 100%;
    min-height: 100vh;
    font-family: Arial;
    padding: 10px 10%;
    overflow-x: hidden;
    position: relative;
}

/* Navigation Bar */

nav {
    background-color: #695454;
    font-family: sans-serif;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    padding: 20px 20px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
}

ul div {
    display: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

nav a:hover {
    color: black;
    font-size: 24px;
}

/* Navigation Bar Mobile */
@media (max-width: 1590px) {
    nav {
        position: fixed;
        z-index: 9999;
    }
    nav #list {
        display: none;
        padding: 0px 0px 0px 0px;
    }
    nav ul li {
        width: 100%;
        position: relative;
        text-align: center;
        font-family: sans-serif;
        padding: 0;
        margin: 0;
    }

    nav div {
        width: 50px;
        height: 10px;
        background-color: white;
        margin: 6px 0;
        display: block;
    }

    nav {
        justify-content: space-between;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: -15px;
        background-color: #695454;
        padding: 20px 20px;
        width: 100%;
    }

}

#title {
    font-size: 15vh;
    display: flex;
}

#subtitle {
    font-size: 7vh;
}

.title-subtitle {
    width: 100%;
    color: white;

    margin: 0;
    max-width: 600px;
    padding-top: 40px;
    font-family: 'Minecraft', sans-serif;
}

#title span {
    width: 100%;
}

.feature-img {
    position: absolute;
    max-width: 25%;
    height: auto;
    width: 530px;
    right: 20%;
    bottom: 0;
    padding-bottom: 250px;
}

/* Minecraft Server Info */

#info {
    overflow-x: hidden;
    position: relative;
    padding: 10px 10%;
}

#info h1 {
    font-size: 10vh;
    font-family: 'Minecraft', sans-serif;
    color: #FF7A7A;
    max-width: 100%;
    align-items: center;
    text-align: center;
}


#info p {
    font-size: 4vh;
    font-family: sans-serif;
    color: white;
    max-width: 100%;
    align-items: center;
    text-align: center;
}

.info-image {
    border: 5px solid white;
    border-radius: 10px;
    max-width: 100%;
}


/* Minecraft Server Ip */

#serverip {
    overflow-x: hidden;
    position: relative;
    padding: 10px 10%;
}

#serverip h1 {
    font-size: 10vh;
    font-family: 'Minecraft', sans-serif;
    color: lightblue;
    max-width: 100%;
    align-items: center;
    text-align: center;
}


#serverip p {
    font-size: 4vh;
    font-family: sans-serif;
    color: white;
    max-width: 100%;
    align-items: center;
    text-align: center;
}

.serverip-image {
    border: 5px solid white;
    border-radius: 10px;
    max-width: 100%;
}


/* Minecraft Server Events */

#server-events {
    overflow-x: hidden;
    position: relative;
    padding: 10px 10%;
}

#server-events h1 {
    font-size: 10vh;
    font-family: 'Minecraft', sans-serif;
    color: lightblue;
    max-width: 100%;
    align-items: center;
    text-align: center;
}

#server-events p {
    font-size: 4vh;
    font-family: sans-serif;
    color: white;
    max-width: 100%;
    align-items: center;
    text-align: center;
}

.server-events-image {
    max-width: 100%;
    border-radius: 10px;
    border: 5px solid white;
}

/* Mobile Compatibility */

@media (max-width: 760px) {
    #info p {
        font-size: 24px;
        text-align: center;
    }

    #serverip p {
        font-size: 24px;
    }

    #server-events p {
        font-size: 24px;
    }
}

@media (max-width: 994px) {
    #title {
        font-size: 150px;
    }

    #info h1 {
        font-size: 100px;
    }
}
@media (max-width: 836px) {
    #title {
        font-size: 120px;
        text-align: center;
        display: block;
    }
    #subtitle {
        text-align: center;
    }

    #info h1 {
        font-size: 60px;
    }

    #serverip h1 {
        font-size: 60px;
    }
}

@media (max-width: 636px) {
    #title {
        padding: 0px 0px 0px;
        margin-top: 120px;
        display: block;
        font-size: 80px;
    }
    #subtitle {
        text-align: center;
        margin: 0;
    }

    #info h1 {
        font-size: 50px;
    }

    #server-events h1 {
        font-size: 60px;
    }
}

@media (max-width: 425px) {
    #title {
        font-size: 60px;
    }

    #server-events h1 {
        font-size: 48px;
    }
}

@media (max-width: 358px) {
    #subtitle {
        font-size: 40px;
    }
    
    #serverip h1 {
        font-size: 48px;
    }
}

@media (max-width: 1142px) {
    .container img {
        display: none;
    }
}

@media (max-height: 590px) {
    .container img {
        display: none;
    }
}



span {
    width: auto;
    height: auto;
}
